@model IEnumerable<SchoolErp.Models.Student_Record>
<<<<<<< HEAD
<<<<<<< HEAD
    @{ 
        Layout = "~/Views/Shared/Dashboard.cshtml";
    }
<html>
<head>
    <meta charset="UTF-8">
    <title>Student Record</title>

   

    <link rel="stylesheet" href="~/Table/css/style.css">

</head>
<body >
    <section class="col-md-10 " style="margin-left:100px;" >
        <!--for demo wrap-->
        <h1>Student Record</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>F/Name</th>
                        <th>DOB</th>
                        <th>Roll #</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Admission Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="1">
                <tbody>
@foreach (var item in Model)
{
                    <tr>
                        <td>@item.Stud_Id</td>
                        <td>@item.Name</td>
                        <td>@item.Father_Name</td>
                        <td>@item.DOB</td>
                        <td>@item.Roll_Number</td>
                        <td>@item.Address</td>
                        <td>@item.Gender</td>
                        <td>@item.Admission_Date</td>
                        <td>
                            @Html.ActionLink("Update", "UpdateStudent", new { id = item.Stud_Id }) 

                            @Html.ActionLink("Remove", "RemoveStudent", new { id = item.Stud_Id })
                        </td>
                    </tr>
}

                </tbody>
            </table>
        </div>
    </section>

    <!-- follow me template -->
    
   
    <script src="~/Table/js/index.js"></script>
</body>
</html>
=======
=======
>>>>>>> ff09218455f10ac03012212ae929f7b96bfecaa1

@{
    ViewBag.Title = "StudentList";
    //Layout = "~/Views/Shared/Dashboard.cshtml";
    Layout = "";
}
@*<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />*@
<h2>StudentList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tab">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roll_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admission_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result.Result_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Father_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roll_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admission_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result.Result_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Stud_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Stud_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Stud_Id })
        </td>
    </tr>
}

</table>
@*<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
// JQuery Reference, If you have added jQuery reference in your master page then ignore,
// else include this too with the below reference

<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script>
    $(document).ready(function () {
     
        $('#tab').DataTable();

    });
<<<<<<< HEAD
</script>
>>>>>>> ff09218455f10ac03012212ae929f7b96bfecaa1
=======
</script>
>>>>>>> ff09218455f10ac03012212ae929f7b96bfecaa1
